---
import Sun from "./svg/Sun.svg";
import Moon from "./svg/Moon.svg";
---

<button type="button" id="theme-toggle">
    <Sun class={"sun"} />
    <Moon class={"moon"} />
</button>

<style>
    button {
        cursor: pointer;
        background-color: transparent;
        border: none;
        color: var(--sl-color-text-accent);
        padding: 0.375rem;

        &:hover {
            opacity: 0.66;
        }

        svg {
            height: 1.25rem;
            width: auto;
        }
    }

    :global([data-theme="light"]) {
        .sun {
            display: none;
        }
        .moon {
            display: block;
        }
    }

    :global([data-theme="dark"]) {
        .sun {
            display: block;
        }
        .moon {
            display: none;
        }
    }
</style>

<script>
    const themeToggle =
        document.querySelector<HTMLButtonElement>("#theme-toggle")!;
    themeToggle.addEventListener("click", () => {
        if (document.documentElement.dataset["theme"] === "light") {
            document.documentElement.dataset["theme"] = "dark";
        } else {
            document.documentElement.dataset["theme"] = "light";
        }
    });
</script>
